<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/fomulario.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
     rel="stylesheet">
    <title>Formulario</title>
</head>
<body>
    <header>
        <p>20% de descuento en todos los productos!</p>
        <div class="logo">
            <img src="../images/logo 1.svg" alt="logo de tienda">
            <h1>Heroes</h1>
        </div>
        <nav>
            <ul>
                <li><a href="">Contacto</a></li>
                <li><a href="">Registrarme</a></li>
                <li><a href="">Ingresar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="">
            <h2>Añadí tu super!</h2>
            <p>Agregá tu personaje favorito completando las opciones.</p>
            <div class="fila">
                <div class="columna">
                    <label for="nombre" class="etiqueta">*Nombre</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre de Héroe">
                    <label for="fecha" class="etiqueta">Fecha</label>
                    <input type="date" id="fecha" name="fecha" />
                    <textarea name="descripcion" id="descripcion" placeholder="Descripción"></textarea>
                </div>
                <div class="columna">
                    <label for="especie" class="etiqueta">*Especie</label>
                    <select name="especie" id="especie">
                        <option value="especie1">Especie 1</option>
                        <option value="especie2">Especie 2</option>
                        <option value="especie3">Especie 3</option>
                    </select>
                    <label for="foto" class="etiqueta">Agregar Foto</label>
                    <input type="file" name="foto" id="foto">
                    <span>Poderes</span>
                    <label for="poderes-volar">
                        <input type="checkbox" name="poderes" id="poderes-volar">
                        Volar
                    </label>
                    <label for="poderes-superinteligencia">
                        <input type="checkbox" name="poderes" id="poderes-superinteligencia">
                        Superinteligencia
                    </label>
                    <label for="poderes-laser">
                        <input type="checkbox" name="poderes" id="poderes-laser">
                        Vista de rayo láser
                    </label>
                    <label for="poderes-billetera">
                        <input type="checkbox" name="poderes" id="poderes-billetera">
                        Billetera gorda
                    </label>
                    <hr />
                    <span>Tipo de personaje</span>
                    <label for="bien">
                        <input type="radio" name="tipo-personaje" id="bien" />
                        Héroe / Heroína
                    </label>
                    <label for="mal">
                        <input type="radio" name="tipo-personaje" id="mal" />
                        Villano / Villana
                    </label>
                </div>
            </div>
            <button type="submit" class="aniadir">Añadir</button>
        </form>
    </main>
    <footer>
        <p>Todos los derechos reservas a TALLER DE DISEÑO WEB</p>
    </footer>
</body>
</html>